* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9e6e6;
}

#root {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > .wrap {
  height: auto;
  min-height: 100%;
}

.wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10em;
  padding-bottom: 300px;
}
.wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrap {
  display: inline-block;
}

* html .wrap {
  height: 1%;
}

.wrap {
  display: block;
}

